#listing-card{
    display: flex;
    background-color: white;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
    
    
}
#listing-card-image{
     /*background: url("https://homeradar.kwst.net/images/all/1.jpg"); */
    /* background-position: center; */
    /* background-size: cover; */
    height: 150px;
    width: 220px;
}
#listing-card-desc{
    margin: 20px 20px 20px 0px;
    height: 110px;
}
#listing-card-title{
    color: grey;
    font-size: 16px;
    font-weight: 400;
    width: calc(100% - 20px);
    margin-left: 20px;
}
#listing-card-address{
    color: #144273;
    font-size: 12px;
    word-spacing: 2px;
    margin-top: 10px;
    width: calc(100% - 20px);
    margin-left: 20px;
}
#listing-card-rating{
    color: #CCCCCC;
    font-size: 12px;
    margin-top: 8px;
    width: calc(100% - 20px);
    padding-left: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding-bottom: 8px;
}
#listing-card-rating .verified{
    color: #FACC39;
}
#listing-card-viewership{
    font-size: 12px;
    color: grey;
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-top: 10px;
}

.verified-delete{
    cursor: pointer;
    margin-left: 15px;
    color: black;
}

.verified-edit{
cursor: pointer;
margin-left: 10px;
color: black;
}
#view-popup{
    min-height: 100%;
    min-width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 73);

}
#view-listing-details{
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 2px 12px;
    background-color: #144273;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 40px;
    


}